@import "./variables";

// Main pages styles
$main-bg-light-color: $color-neutral-0;
$main-bg-dark-color: $color-neutral-700;

// Font pages styles
$main-font-light-color: $color-neutral-700;
$main-font-dark-color: $color-neutral-0;
